body {
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(54%, rgba(44,44,44,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

div {
    margin: 50px 40px 10px 40px;
    border-radius: 25px;
    background-color: black;
    padding: 10px 5px 10px 5px;
    
}

h1 {
    color:white;
    font-size: 80px;
    text-align: center;
    font-family: 'Pacifico', cursive;

}
h2 {
    color: lightgray;
    font-size: 40px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: floralwhite;

}

.image{
    display: block;
    margin: 0 auto;
    max-width: 350px;
    border-radius: 50%;
}

.list{
    margin: 10px;
    color: rgb(197, 184, 184);
    
    font-family: 'Gaegu', cursive;
    font-size: 25px;
}

ul {
    padding-left: 600px;
    text-align: left;
    list-style: inside;
}

.para{
    font-family: 'Knewave', cursive;
    font-size: 30px;
    color: floralwhite;
    text-align: center;
}
